.header-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.header-container input {
  display: block;
  width: 100%;
  margin: 0 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
}